<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes"
          charset="utf-8"/>
    <title>MBoxCtl</title>
    <script src="../js/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="../js/MidiConvert.js" type="text/javascript"></script>
    <script src="../js/Tone.js" type="text/javascript"></script>
    <script src="../js/csmapi.js" type="text/javascript"></script>
    <script src="../js/dan.js" type="text/javascript"></script>
    <script src="../js/semantic.js" type="text/javascript"></script>
    <script>
        var iottalkIP = "<%= iottalkIP %>";
        var IDFList = ("<%= IDFList %>").split(',');

    </script>
    <script src="../js/MusicBoxController.js" type="text/javascript"></script>


    <link href="../css/semantic.css" rel="stylesheet" type="text/css">
    <link href="../css/musicBoxController.css" rel="stylesheet" type="text/css">

</head>
<body>
<div class="row">

    <div class="ui page grid">
        <div class="five column row">
            <div class="column">
                <div class="ui selection dropdown" id="song">
                    <span>Song:</span>
                    <input type="hidden" name="song">
                    <i class="dropdown icon"></i>
                    <div class="default text" align="center"></div>
                    <div class="menu">
                        <% for(var i = 0; i < songs.length; i++){ %>
                        <div class="item inputSong"> <%= songs[i] %> </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui selection dropdown" id="n">
                    <span>N:</span>
                    <input type="hidden" name="n">
                    <i class="dropdown icon"></i>
                    <div class="default text" align="center"></div>
                    <div class="menu">
                        <div class="item inputN">1</div>
                        <div class="item inputN">2</div>
                        <div class="item inputN">3</div>
                        <div class="item inputN">4</div>
                        <div class="item inputN">5</div>
                        <div class="item inputN">6</div>
                        <div class="item inputN">7</div>
                    </div>
                </div>
            </div>

            <div class="column">
                <div class="ui selection dropdown" id="c">
                    <span>C:</span>
                    <input type="hidden" name="C">
                    <i class="dropdown icon"></i>
                    <div class="default text" align="center"></div>
                    <div class="menu">
                        <div class="item C">1</div>
                        <div class="item C">2</div>
                        <div class="item C">3</div>
                        <div class="item C">4</div>
                        <div class="item C">5</div>
                        <div class="item C">6</div>
                        <div class="item C">7</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui selection dropdown" id="period">
                    <span>Period:</span>
                    <input type="hidden" name="Period">
                    <i class="dropdown icon"></i>
                    <div class="default text" align="center"></div>
                    <div class="menu">
                        <div class="item inputPeriod">20</div>
                        <div class="item inputPeriod">30</div>
                        <div class="item inputPeriod">40</div>
                        <div class="item inputPeriod">50</div>
                        <div class="item inputPeriod">60</div>
                        <div class="item inputPeriod">70</div>
                        <div class="item inputPeriod">80</div>
                        <div class="item inputPeriod">90</div>
                        <div class="item inputPeriod">100</div>
                        <div class="item inputPeriod">110</div>
                        <div class="item inputPeriod">120</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui selection dropdown" id="key">
                    <span>Key:</span>
                    <input type="hidden" name="key">
                    <i class="dropdown icon"></i>
                    <div class="default text" align="center"></div>
                    <div class="menu">
                        <div class="item inputKey">-7</div>
                        <div class="item inputKey">-6</div>
                        <div class="item inputKey">-5</div>
                        <div class="item inputKey">-4</div>
                        <div class="item inputKey">-3</div>
                        <div class="item inputKey">-2</div>
                        <div class="item inputKey">-1</div>
                        <div class="item inputKey">0</div>
                        <div class="item inputKey">1</div>
                        <div class="item inputKey">2</div>
                        <div class="item inputKey">3</div>
                        <div class="item inputKey">4</div>
                        <div class="item inputKey">5</div>
                        <div class="item inputKey">6</div>
                        <div class="item inputKey">7</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui selection dropdown" id="volume">
                    <span>Volume:</span>
                    <input type="hidden" name="volume">
                    <i class="dropdown icon"></i>
                    <div class="default text" align="center"></div>
                    <div class="menu">
                        <div class="item inputVolume">-5</div>
                        <div class="item inputVolume">-4</div>
                        <div class="item inputVolume">-3</div>
                        <div class="item inputVolume">-2</div>
                        <div class="item inputVolume">-1</div>
                        <div class="item inputVolume">0</div>
                        <div class="item inputVolume">1</div>
                        <div class="item inputVolume">2</div>
                        <div class="item inputVolume">3</div>
                        <div class="item inputVolume">4</div>
                        <div class="item inputVolume">5</div>
                        <div class="item inputVolume">6</div>
                        <div class="item inputVolume">7</div>
                        <div class="item inputVolume">8</div>
                        <div class="item inputVolume">9</div>
                        <div class="item inputVolume">10</div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui selection dropdown" id="mode">
                    <span>Mode:</span>
                    <input type="hidden" name="Mode">
                    <i class="dropdown icon"></i>
                    <div class="default text" align="center"></div>
                    <div class="menu">
                        <div class="item inputPeriod">0</div>
                        <div class="item inputPeriod">1</div>
                    </div>
                </div>
            </div>
            <!--<div class="column">-->
                <!--<div class="ui selection dropdown" id="instrument">-->
                    <!--<input type="hidden" name="instrument">-->
                    <!--<i class="dropdown icon"></i>-->
                    <!--<div class="default text" align="center">Instrument</div>-->
                    <!--<div class="menu">-->
                        <!--<div class="item inputInstrument">a</div>-->
                        <!--<div class="item inputInstrument">b</div>-->
                        <!--<div class="item inputInstrument">c</div>-->
                        <!--<div class="item inputInstrument">d</div>-->
                        <!--<div class="item inputInstrument">e</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>
<!--<div class="ui page grid">-->
<!--<div class="ui selection dropdown" id="song">-->
<!--<span>Song:</span>-->
<!--<input type="hidden" name="song">-->
<!--<i class="dropdown icon"></i>-->
<!--<div class="default text" align="center"></div>-->
<!--<div class="menu">-->
<!--<% for(var i = 0; i < songs.length; i++){ %>-->
<!--<div class="item inputSong"> <%= songs[i] %> </div>-->
<!--<% } %>-->
<!--</div>-->
<!--</div>-->
<!--<div class="four column row">-->
<!--<div class="column">-->
<!--<b>speakerNum</b>-->
<!--<input type="text" value="75" id="speakerNum">-->
<!--</div>-->
<!--<div class="column">-->
<!--<b>period</b>-->
<!--<input type="text" value="75" id="period">-->
<!--</div>-->
<!--<div class="column">-->
<!--<b>key</b>-->
<!--<input type="text" value="75" id="key">-->
<!--</div>-->
<!--<div class="column">-->
<!--<b>volume</b>-->
<!--<input type="text" value="75" id="volume">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
</body>
</html>