<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes"
          charset="utf-8"/>
    <title>MusicBox</title>
    <script src="../js/socket_io.js" type="text/javascript"></script>
    <script src="../js/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="../js/Tone.js" type="text/javascript"></script>
    <script src="../js/d3.v3.min.js" type="text/javascript"></script>
    <script src="../js/qwerty-hancock.js" type="text/javascript"></script>
    <script src="../js/MusicBoxHidden.js" type="text/javascript"></script>
    <script src="../js/semantic.js" type="text/javascript"></script>

    <link href="../css/semantic.css" rel="stylesheet" type="text/css">
    <link href="../css/musicBox.css" rel="stylesheet" type="text/css" >
    <style>
        #keyboardContainer{
            margin: auto;
            margin-top: 100px;
        }
        #content {
            width: 95%;
            height: 600px;
            margin: auto;
        }
    </style>
</head>
<body>

<table class="ui unstackable celled table">
    <tbody>
    <% for(var i = 0; i < tr.length; i++){ %>
    <tr>
        <% for(var j = 0; j < tr[i].length; j++){ %>
        <td class="entity" style="background-color: <%=tr[i][j]%>"><%= space[i*tr.length+j] %></td>
        <% } %>
    </tr>
    <% } %>
    </tbody>
</table>
<span id="counter"></span>

<div class="row">
    <div id="content">
        <div id="keyboardContainer">
            <div id="keyboard"></div>
        </div>
    </div>
</div>

</body>

</html>